/* Apply the same styles for the customer name input */
@import url(../../index.css);

.customer-name-input {
    width: 100%;
    height: 35px !important;
    font-size: 1rem;
    background-color: var(--surface-light);
    border: 1px solid var(--border-color);
    border-radius: 4px;
    color: var(--text-dark);
    transition: all 0.2s ease;
}

.css-hvjq6j-MuiFormLabel-root-MuiInputLabel-root.Mui-focused  .css-1mgvgp3-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root .MuiSelect-icon {
    color: #7b4eff !important;
    }

.customer-name-input:focus,
.customer-name-input:not(:placeholder-shown) {
    border-color: var(--primary-color);
    border-width: 2px;
    outline: none;
}

.customer-name-input:focus ~ .floating-label,
.customer-name-input:not(:placeholder-shown) ~ .floating-label {
    top: 0;
    transform: translateY(-50%) scale(0.75);
    background-color: var(--surface-light);
    padding: 0 5px;
    color: var(--primary-color);
    
}

.customer-name-input-error {
    border-color: var(--error-color);
}

.customer-name-input-error ~ .floating-label {
    color: var(--error-color);
}

.error-message {
    display: block;
    color: var(--error-color);
    display: block;
    font-size: 0.65rem;
    color: var(--error-color);
    background-color: transparent !important;
    border: none !important;
    padding: 0 !important;
}
